*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
text-align: center;
padding: 0.5rem 0;
}

.container h1 {
font-size: 1.5rem;
}

.container h2 {
font-size: 1rem;
}

.card {
  background-color: #1e1e1e;
  border-radius: 8px;
  padding: 1rem;   
  overflow-y: scroll;
  max-height: 400px;
  margin: 16px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px, rgba(0, 0, 0, 0.14) 0px 1px 3px;
}

.card-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;          
  padding: 1rem 0;    
}


.Label {
  color: white;
  font-size: 14px;
  line-height: 1;
}

.SwitchRoot {
  width: 32px;
  height: 18px;
  background-color: #aaa;
  border-radius: 9999px;
  position: relative;
  transition: background-color 200ms ease;
  outline: none;
  flex-shrink: 0;

  &[data-state="checked"] {
    background-color: #00c853;
  }

  &:hover {
    box-shadow: 0 0 0 2px black;
  }
}

.SwitchThumb {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 2px var(--black-a7);
  transition: left 100ms ease;

  &[data-state="checked"] {
    left: 15px;
  }
}


.filter-button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}